@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    font-size: 16px;
}

body {
    min-height: 100vh;

    font-family: var(--font-body);
    font-weight: normal;
    color: var(--color-text);

    line-height: 1.5;
    background-color: var(--color-background);
}

#root {
    min-height: 100vh;
}