.consolePanel {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.console {
    background-color: var(--console-bg);

    width: 100%;

    flex: 1;

    padding: 10px;
}

