.login {
    min-height: 100vh;

    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin-top: 15vh;
    margin-inline: auto;

    display: flex;
    justify-content: center;
}

.content {
    padding: 30px 50px;

    background-color: var(--color-surface-1);

    border: 1px solid var(--color-border-primary);
    border-radius: 10px 0 0 0;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    line-height: 1.2;
    font-size: 3rem;

    color: var(--color-accent);
}

.subLogo {
    font-size: 1.8rem;
}