.editor {

    width: 100%;
    height: calc(100% - 30px);

    :global(.cm-focused) {
        outline: none;
    }

    :global(.cm-editor) {
        width: 100%;
        height: 100%;     
    }

    :global(.cm-gutters) {
        min-width: 27px;

        justify-content: end;
        
        :global(.cm-activeLineGutter) {
            background-color: transparent;
        }
    }

}
