.challengeWorkspace {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
        "taskPanel codeEditorPanel"
        "taskPanel consolePanel"
    ;
}