.codePage {
    padding: 10px;
}

.challengeWorkspace {
    height: calc(100vh - var(--header-height));
    
    display: grid;

    grid-template-rows: 1fr 1fr 40px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    grid-template-areas: 
        "task code"
        "task console"
        "task actions"
    ;
}

.taskPanelArea {
    grid-area: task;
}

.codeEditorPanelArea {
    grid-area: code;
}

.consolePanelArea {
    grid-area: console;
}

.codeActionsArea {
    grid-area: actions;
}

.taskPanelArea,
.codeEditorPanelArea,
.consolePanelArea {
    min-width: 0;
    min-height: 0;
}