.challengeWorkspace {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    grid-template-areas:
        "taskDescriptionArea codeEditorArea"
        "taskDescriptionArea consoleArea"
        "taskDescriptionArea submitCodeArea";

    height: 100vh;

    padding: 10px;
}

.taskDescriptionArea {
    grid-area: taskDescriptionArea;

    display: flex;
    flex-direction: column;
}

.codeEditorArea {
    grid-area: codeEditorArea;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.consoleArea {
    grid-area: consoleArea;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.submitCodeArea {
    grid-area: submitCodeArea;
}