:root {
    /* Typography */
    --font-body: 'Manrope', sans-serif;
    --font-heading: 'Cormorant Garamond', serif;
    --font-code: 'JetBrains Mono', monospace;

    --bg-title-bar: #30343e;
    --text-primary: #e6e8ee;

    /* App */
    --main-bg: #0f1116;
    --header-bg: #1b1e26;

    /* Code editor */
    --editor-bg: #15171c;
    --editor-text: #d8dbe2;
    
    --editor-gutter-bg: #191b20;
    --editor-gutter-text: #8e939d;

    --editor-active-line: #46586144;
    --editor-selection: #303644;

    --editor-scrollbar-controls: #ffffff44;

    --editor-syntax-keyword: #c792ea;
    --editor-syntax-string: #c3e88d;
    --editor-syntax-number: #f78c6c;
    --editor-syntax-comment: #676e95;
    --editor-syntax-function: #82aaff;
    --editor-syntax-variable: #d8dee9;
    --editor-syntax-type: #ffcb6b;
    --editor-syntax-operator: #89ddff;

    --button-primary: #7fc8a9;
}