.header {
    width: 100%;

    padding: 0 50px;

    height: 70px;

    display: flex;
    justify-content:space-between;
    align-items: center;

    background-color: var(--color-bg);

    border-bottom: 1px solid var(--color-border);

    color: var(--text-primary);
}

.logo {
    font-size: 2.5rem;
}

.headerActions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}