.codeBlock {
    display: block;
    width: 100%;

    white-space: pre-wrap;

    padding: 5px 10px;

    border-radius: 10px;
    border: 1px solid #343944;

    background-color: #20242c;

    color: var(--text-primary);
}