.codeBlock {
    display: block;
    width: 100%;

    white-space: pre-wrap;

    padding: 5px 10px;

    border-radius: 10px;
    border: 1px solid var(--color-border-primary);

    background-color: #171a1e;

    color: var(--text-primary);
}